
#drop_area {
    width: 300px;
    height: 200px;
    border: 2px dashed #aaa;
    line-height: 200px;
    text-align: center;
    color: #aaa;
  }

  .hidden {
    display: none;
  }

  .mb-2.hidden.parts-list {
    display: none;
  }

  .card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
  }

  .rounded-5 {
    width: 125px;
    height: 125px;
    margin-bottom: 20px;
}

/* .rounded-4.detail {
  width: 90px;
  height: 90px;
  margin-right: 20px;
} */

.card-title {
  font-size: 19px;
}

.card-text {
  font-size: 12px;
}

.list-group-item {
  font-size: 10px;
}

#part-detail-tags {
  font-size: 12px;
}


.label {
  background-color: rgba(255, 255, 255, 0.5);
}


  #job-icons {
    justify-content: center;
  }

  #job-detail-name {
    font-size: larger;
  }

  #job-description-name {
    font-size: small;
  }

  li:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #555;
  }


  .mb-2.parts-list {
    align-items: left;
    display: flex;
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .center-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
     /* Adjust the height as per your requirement */
  }
  

  /* @keyframes pixelate {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 50px 50px;
    }
} */

body {
    height: 100vh;
    margin: 0;
    background-size: 50px 50px; 
    background-image: url('assets/background.png');
    /* background-color: #bb0606 ;  */
    /* animation: pixelate 2s linear infinite;*/
}
